<h1>Create new Product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @product, html: { multipart: true } do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
      <%= f.label :attachment %>
      <%= f.file_field :image %>
      <%= f.hidden_field :resturant_id, :value => @resturant.id %>
      <%= f.submit "Add my Product", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
